<div class="row">
  <div class="bg col-10">
    <div class="img">
      <img src="https://firebasestorage.googleapis.com/v0/b/luis-code.appspot.com/o/img%2Fbg.jpeg?alt=media&token=1c7e120c-03ab-492d-bc8e-ff330ceea25f"
        alt="">
    </div>
    <div class="text">
      <ng-content></ng-content>
    </div>
    <div class="rect"></div>
  </div>
  <div class="avatar col-4">
    <img src="https://firebasestorage.googleapis.com/v0/b/luis-code.appspot.com/o/img%2Favatar.png?alt=media&token=6ba746b5-dbce-4d2a-b561-9c66af19738e"
      alt="">
  </div>
</div>