@import 'colors.scss';

:host {
  .row {
    position: relative;
    margin-bottom: 100px;
    .bg {
      margin-right: -20%;
      padding: 0;
      > .img {
        background: $text-primary;
        height: 300px;
        img {
          opacity: 0.5;
          object-fit: cover;
          width: 100%;
          height: 100%;
          filter: grayscale(50%);
        }
      }
    }
    .text {
      position: relative;
      z-index: 10000;
    }
    .rect {
      position: absolute;
      right: -5%;
      top: 7%;
      opacity: 0.3;
      z-index: 1000;
      height: 400px;
      width: 400px;
    }
    .avatar {
      margin-top: 100px;
      height: 500px;
      padding: 0;
      img {
        filter: grayscale(100%);
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}
