:host {
  .navbar-brand {
    font-family: 'Pacifico', cursive;
  }
  .nav-item {
    font-weight: bold;
  }
  .navbar {
    .container {
      flex-flow: column;
      margin-top: 100px;
      padding: 40px 0 40px;
      border-top: 2px solid #90a4ae;
      .social {
      }
      .title {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        font-weight: 700;
        color: #37474f;
        /deep/b {
          color: #ffeb3b;
        }
      }
      .sub-title {
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #b0bec5;
        font-size: 10px;
      }
    }
  }
}
