@import 'colors.scss';

:host {
  .navbar-brand {
    font-family: 'Pacifico', cursive;
  }
  .nav-item {
    font-weight: bold;
  }
  .navbar {
    .container {
      flex-flow: column;
      margin-top: 100px;
      padding: 40px 0 40px;
      border-top: 2px solid $text-tertiary;
      .title {
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        font-weight: 700;
        color: #37474f;
      }
      .sub-title {
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $text-secondary;
        font-size: 10px;
      }
    }
  }
}
