:host {
  position: relative;
  margin-bottom: 80px;
  float: left;
  width: 100%;
  transition: 0.25s;
  border-radius: 4px;
  padding-left: 50px;
  display: flex;
  &:nth-child(even) {
    margin-top: 100px;
    margin-bottom: -20px;
  }
  .bg {
    transition: 0.25s;
    width: 100%;
    float: left;
    background-position: center;
    background-size: cover;
    background: #37474f;
    min-width: 170px;
    width: 170px;
    min-height: 170px;
    height: 174px;
    margin-top: 25px;
    position: relative;
    .rect {
      position: absolute;
      right: -40px;
      bottom: -40px;
      opacity: 0.3;
      z-index: -1;
      height: 120px;
      min-height: 120px;
      width: 120px;
      min-width: 120px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .goTo {
    float: right;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 0 20px 20px;
    opacity: 0.6;
    font-weight: 400 !important;
    i {
      font-size: 18px;
      margin-left: 5px;
    }
  }

  .content {
    padding-left: 30px;
    .title {
      float: left;
      width: 100%;
      margin-top: 20px;
      font-size: 24px;
      min-height: 34px;
      padding: 0 0px;
    }
    p {
      opacity: 0.6;
      font-weight: 300;
      font-size: 14px;
    }
    .date {
      top: 120px;
      transition: 0.5s;
      font-size: 12px;
      color: #37474f;
      letter-spacing: 2px;
      left: 40px;
      text-align: right;
    }
  }
}
