:host {
  position: fixed;
  bottom: 0px;
  right: 20px;
  ul {
    list-style: none;
    padding: 0;
    li {
      font-size: 30px;
      svg {
        color: #37474f;
        transition: 0.1s;
        &:hover {
          color: #ffeb3b;
        }
      }
    }
  }
}
