@import 'colors.scss';

:host {
  .navbar-brand {
    font-family: 'Pacifico', cursive;
  }
  .nav-item {
    font-weight: bold;
  }
  .navbar {
    .container {
      flex-flow: column;
      padding: 50px 0 80px;
      .title {
        font-size: 80px;
        text-transform: uppercase;
        letter-spacing: 0.2px;
        font-weight: 700;
        color: $text-primary;
      }
      .sub-title {
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $text-secondary;
        font-size: 20px;
      }
    }
  }
}
