<div class="container">

  <app-jumbo>
    <div class="header text-right" style="padding: 40px 30% 20px 0;" [innerHTML]="'aboutMeTitle' | translate"></div>
    <p style="padding: 20px 30% 20px 10%;font-size:19px;" [innerHTML]="'aboutMeText' | translate"></p>
  </app-jumbo>

  <div class="row" style="padding-bottom:120px;">
    <div class="header col-12" style="margin-bottom: -60px;" [innerHTML]="'projects' | translate"></div>
    <app-project class="col-6" *ngFor="let project of projectList" [project]="project"></app-project>
  </div>

  <div class="row" style="padding-bottom:120px;">
    <div class="header text-right col-12" style="margin-bottom: 30px;" [innerHTML]=" 'validations' | translate"></div>
    <app-bar class="col-6" *ngFor="let bar of barList" [num]="bar.num" [title]="bar.title"></app-bar>
  </div>

  <div class="row" style="padding-bottom:20px;">
    <div class="header col-12" [innerHTML]="'experience' | translate"></div>
    <app-job class="col-10" *ngFor="let job of jobList" [job]="job"></app-job>
  </div>

</div>