:host {
  .header {
    font-size: 40px;
    font-weight: 900;
    text-transform: lowercase;
    letter-spacing: 2px;
    padding: 0 40px 40px;
    color: #37474f;
    b {
      color: #ffeb3b;
    }
  }
}
