@import 'colors.scss';

:host {
  padding: 0 30px;
  &:nth-child(odd) {
    margin-top: 40px;
    margin-bottom: 0px;
  }
  .content {
    height: 30px;
    border-bottom: 2px solid $text-tertiary;
    border-left: 2px solid $text-tertiary;
    width: 100%;
    position: relative;
    .bar {
      height: 100%;
    }
    .rect {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 10px;
      left: 10px;
      z-index: -1;
    }
  }
  h4 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $text-tertiary;
  }
}
